.doshaPostsContainer :global(.vata-block) {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
    background-color: #8A987A ;
}

.doshaPostsContainer :global(.pita-block) {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
    color: white;
    background-color: #305369;
}

.doshaPostsContainer :global(.pita-block p) {
    color: white;
}

.doshaPostsContainer :global(.kapha-block) {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
    background-color: #E09F3E;
}